.primary-button{
    background-color: #0ebb1b;
    padding: 7px 14px;
}
.secondary-button-color{
    background-color: #e0e0e0;
}
input[type="text"]{
    padding: 7px 0 7px 7px;
}
html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;    
}
