.mainHeading{
                font-size: 25px;
                margin-top: 120px;
}
.descriptionHeading{
                font-size: 18px;
                margin-top: 16px;
}
.descriptionItem{
               margin-top: 10px;
               margin-left: 16px;
               list-style-type:disc;
}

 