
.mainHeading{
                font-size: 25px;
                margin-top: 120px;
}
.marginTop{
            margin-top: 20px;
}
.marginBottom{
            margin-bottom: 20px;
}
.callingYou{
    color: #4CAF50;
    margin-top: 36px;
    font-size: 20px;
    margin-bottom: 20px;
}
.selectAccount{
    width: 360px;
     margin-top: 36px;
     margin-bottom: 20px;
}
.accountType {
     width: 50px;
     background: #333;
     margin-top: 30px;
}
.dispBlock{
                display: block;
}
.items{
    width:80px;
}
.registerInfo{
    width: 416px;
     margin-top: 36px;
     margin-bottom: 20px;
}
.registerInfo a{
    color: #4CAF50;
}
.accountForm{
                margin-top: 20px;
}
.details{
               margin-top: 20px;
                margin-bottom: 20px;
                 width: 360px;
                 display: block;
}
.authInPreogress{
               margin-top: 20px;
               color: #0000ff;
}
/*.accountForm #account-details{
                width: 304px;
                padding: 10px;
}*/
.accountForm a{
                color: #000;
}
input[name="uID"]{
                width: 280px;
                padding: 10px;
}
.bankingId{
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;
}
.backBtn{
     
    margin-top: 20px;
    margin-right: 20px;
    background-color: #D3D3D3;
    border: none;
    color: white;
    padding: 12px 56px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.continueBtn{
 
    margin-top: 20px;
    margin-right: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 48px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.cancel{
     margin-top: 20px;
}
.cancel a{
    color: #4CAF50;
}
.listItem{
    display: inline-block;
    margin-right: 15px;
}