.shareInfo{
                width: 416px;
                margin-top: 20px;
}
h1{
                font-size: 25px;
}
h2{
                font-size: 16px;
}
.marginLeft{
                margin-left: -24px;
}
 